<div class="container mt-5">
  <h1 class="display-4">Infos</h1>
  <p class="lead font-weight-bold">Sources</p>
  <p>The sources of news are listed in the dropdown of the article.<br>The source of infection data is: https://wuhan-coronavirus-api.laeyoung.endpoint.ainize.ai</p>
</div>
