<div class="container pb-2 mt-5">
    <div class="pt-1">
        <div class="flex-center">
            <h1>{{ getFormattedDate(currentDay) }}</h1>
        </div>
        <div class="flex-center">
            <i class="fas fa-biohazard orange-text"></i
            ><span class="ml-1 orange-text">{{ getDay().infections }}</span>
            <i class="fas fa-cross black-text ml-5"></i
            ><span class="ml-1 black-text">{{ getDay().deaths }}</span>
            <i class="fas fa-medkit green-text ml-5"></i
            ><span class="ml-1 green-text">{{ getDay().recovered }}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 mb-5">
        <div class="row">
            <ng-container *ngFor="let coronaEvent of coronaEvents | async">
                <div
                    class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-5 mt-5 mx-sm-2 mx-md-0"
                    *ngIf="showCoronaEvent(coronaEvent)"
                >
                    <app-event-thumb [event]="coronaEvent"></app-event-thumb>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 80px; left: 24px;">
    <a
        mdbBtn
        floating="true"
        size="lg"
        gradient="purple"
        mdbWavesEffect
        (click)="previousDay()"
    >
        <mdb-icon fas icon="arrow-left"></mdb-icon>
    </a>
</div>
<div class="fixed-action-btn" style="bottom: 80px; right: 24px;">
    <a
        mdbBtn
        floating="true"
        size="lg"
        gradient="purple"
        mdbWavesEffect
        (click)="nextDay()"
    >
        <mdb-icon fas icon="arrow-right"></mdb-icon>
    </a>
</div>
<nav
    aria-label="Page navigation example"
    class="navbar fixed-bottom navbar-light grey lighten-3"
>
    <ul class="pagination pg-blue middle">
        <li class="page-item">
            <button
                class="btn btn-flat"
                [disabled]="currentPage == 0"
                (click)="previousPage()"
            >
                <mdb-icon fas icon="arrow-circle-left"></mdb-icon>
            </button>
        </li>
        <li class="page-item" *ngFor="let date of getDates()">
            <button class="btn btn-flat" (click)="setActiveDay(date)">
                {{ getFormattedDate(date) }}
            </button>
        </li>
        <li class="page-item">
            <button
                class="btn btn-flat"
                [disabled]="currentPage == lastPage"
                (click)="nextPage()"
            >
                <mdb-icon fas icon="arrow-circle-right"></mdb-icon>
            </button>
        </li>
    </ul>
</nav>
