<div class="container mt-5">
  <h1 class="display-4">Credits</h1>
  <p class="lead font-weight-bold">Daniel von Atzigen, Creator / Author</p>
  <p class="lead font-weight-bold">Colin Herzog, Creator / Author</p>
</div>
