<mdb-card cascade="true">
    <!--Card image-->
    <div
        [ngClass]="{
            view: true,
            'view-cascade': true,
            'gradient-card-header': true,
            'blue-gradient': event.category == 'NEWS',
            'dusty-grass-gradient': event.category == 'POSITIVE',
            'young-passion-gradient': event.category == 'NEGATIVE'
        }"
    >
        <h2 class="card-header-title">{{ event.title }}</h2>
        <p>{{ event.summary }}</p>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->

        <mdb-card-text>
            {{ event.description }}
        </mdb-card-text>

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'thumbUps')"
        >
            <mdb-icon far icon="thumbs-up" class="blue-text"></mdb-icon>
        </a>
        {{ event.reactions.thumbUps }}

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'thumbDowns')"
        >
            <mdb-icon far icon="thumbs-down" class="red-text"></mdb-icon>
        </a>
        {{ event.reactions.thumbDowns }}

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'smiles')"
        >
            <mdb-icon far icon="smile" class="orange-text"></mdb-icon>
        </a>
        {{ event.reactions.smiles }}

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'frowns')"
        >
            <mdb-icon far icon="frown" class="black-text"></mdb-icon>
        </a>
        {{ event.reactions.frowns }}

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'claps')"
        >
            <mdb-icon fas icon="praying-hands" class="yellow-text"></mdb-icon>
        </a>
        {{ event.reactions.claps }}

        <a
            mdbBtn
            floating="true"
            size="sm"
            mdbWavesEffect
            (click)="addReaction(event.id, 'hearts')"
        >
            <mdb-icon far icon="heart" class="red-text"></mdb-icon>
        </a>
        {{ event.reactions.hearts }}

        <br />
        <div class="btn-group" mdbDropdown>
            <button
                mdbDropdownToggle
                mdbBtn
                color="orange"
                size="sm"
                class="dropdown-toggle waves-light"
                type="button"
                mdbWavesEffect
            >
                Sources
            </button>
            <div class="dropdown-menu">
                <a
                    *ngFor="let source of event.sources"
                    class="dropdown-item"
                    href="{{ source.link }}"
                    target="_blank"
                    >{{ source.name }}</a
                >
            </div>
        </div>
    </mdb-card-body>
    <!--/.Card content-->
</mdb-card>
